services:
  elastiflix:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    env_file:
      - ./env
    volumes:
      - ./frontend/src:/app/src
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "17700:17700"
    environment:
      - LOCAL=true
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    env_file:
      - ./env
    volumes:
      - ./backend/src:/app/src